* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.maincontainer {
  max-width: 40%;
  margin: 10vh auto 0 auto;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 5px 5px grey;
  background-color: #fff;
}

#output {
  font-size: 25px;
  height: 10vh;
  text-align: right;
  line-height: 70px;
  padding: 16px 8px;
  border: 2px solid grey;
  background-color: white;
  border-radius: 19px 19px 0px 0px;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
  border: 1px solid #222;
  line-height: 50px;
  width: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 5px 5px grey;
}

#equal {
  background-color: grey;
  color: white;
}

.btn:hover {
  background-color: rgb(203, 198, 198);
  color: white;
  transition: 0.5s ease-in-out;
}
